@use '../foundation/colors';
@use '../foundation/typography';

.header#main {
  max-width: 940px;
  height: 72px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid colors.$light-gray;
  align-items: center;
  justify-content: space-between;
}

.header#main #logo img {
  max-height: 32px;
  transition: 0.3s all ease;
}

.header#main #logo:hover img {
  opacity: 0.7;
}

.header#main nav a {
  color: colors.$med-gray;
  font-weight: normal;
  padding: 0 12px;
  text-decoration: none;
  font-size: 18px;
}

.header#main nav a:hover {
  color: colors.$black;
}

.header#main nav a.active {
  color: colors.$black;
  font-weight: 600;
}

@media all and (max-width: 986px) {
  .header#main {
    padding: 0 24px;
  }

}

@media all and (max-width: 500px) {
  .header#main {
    padding: 0 24px;
    display: block;
    height: auto;
  }

  .header #logo {
    display: block;
    margin: 12px 0;
  }

  .header nav{
    margin-bottom: 12px;
  }

  .header nav a:first-child{
    padding-left: 0 !important;
  }
}