@use '../foundation/colors';
@use '../foundation/typography';

.app {
  max-width: 940px;
  margin: 0 auto;
  padding: 36px 24px;
  display: flex;
  min-height: 480px;
}

.app section {
  margin-bottom: 56px;
  padding-bottom: 56px;
  border-bottom: 1px solid colors.$light-gray;
}

.app section:last-child{
  padding-bottom: 0;
  border-bottom: none;
}


.app .grid-title{
  width: 400px;
  margin-right: 48px;
  margin-bottom: 24px;

  img {
    max-width: 100%;
    border-radius: 12px;
    overflow:hidden;
  }

  .icon{
    font-size: 48px
  }
}

.post{
  max-width: 720px;
  display: block;

  header {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid colors.$light-gray;
  }

  table.project_meta{
    width: 100%;
    font-weight: 200;
    color: colors.$dark-gray;
    margin-top: 24px;

    thead{
      font-weight: 400;
      color: colors.$black;
    }

    tr {vertical-align: top;}
    td {
      display: inline-flex;
      width: 49%;

      svg {margin-right: 8px;}
    }

  }
}

.app .grid-content{
  width: 100%;
}

.app .grid-content.homepage-hero{
  margin-top: 100px;
}

.grid-content p.empty_collection {
  text-align: center;
  color: colors.$med_light-gray;
}

@media all and (max-width: 740px) {
  .app {
    display: block;

    .grid-content.homepage-hero{
      margin-top: 0;
    }
  }

  .app .grid-title, .app .grid-title.extended{
    width: 100%;

    .homepage-hero{
      max-width: 200px;
    }
  }
}
